
body {
    background: #fff7f7;
    font-family: ubuntu;
}
.content {
    max-width: 960px;
    margin: 0px auto;
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid black;
}

#forminput {
    margin: 0;
    border: 0;
    margin: 5% 10% !important;
    width: 80%;
    border-bottom: 1px solid #fff7f7;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}
#question {
    font-family: "ubuntu";
    display: inline;
}
#radiolabel {
    background-color: #fff7f7;
    color: #000000;
    margin: 2% 10% !important;
    border: 0;
    padding: 10px;
    display: inline;
    box-sizing: border-box;
    font-size: 18px;
}
form input:focus {
    border-bottom: 1px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after {
    content: "";
    clear: both;
    display: block;
}

button {
    border: 0;
    background: rgb(62, 100, 255) !important;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px #fff7f7;
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: white;
    outline: none;
    margin: 5% 10% !important;
}
input {
    background-color: #fff7f7;
    color: black;
    border-bottom: 1px solid rgb(255, 0, 0);
}
textarea {
    background-color: #fff7f7;
    color: black;
    border-bottom: 1px solid rgb(255, 0, 0);
    margin: 5% 10% !important;
    height: 15%;
    width: 38%;
    margin: 0;
    margin: 5% 30%;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}
label {
    background-color: #fff7f7;
    color: #000000;
    margin: 5% 10% !important;
    margin: 0;
    border: 0;
    margin: 5% 30%;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.radio input {
    margin: 0 !important;
    float: left;
}
#mybtn {
    background-color: rgb(22, 43, 126);
    cursor: pointer;
}