body {
    background: #FFFAFA;
    font-family: ubuntu;
}

.content {
    max-width: 960px;
    margin: 0px auto;
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
    text-align: left;
}

#forminput {
    margin: 0;
    border: 0;
    margin: 5% 10% !important;
    width: 80%;
    border-bottom: 1px solid black;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

#question {
    margin: 2% 10% !important;
    font-family: "ubuntu";
    display: block;
}

#radiolabel {
    color: #000000;
    margin: 2% 10% !important;
    border: 0;
    padding: 10px;
    display: inline;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus {
    outline: none;
    border-bottom: 1px solid #8400ff;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after {
    content: "";
    clear: both;
    display: block;
}

button {
    text-align: center;
    border: 0;
    background: rgb(62, 100, 255) !important;
    border-radius: 10px;
    padding: 13px;
    max-width: fit-content;
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: white;
    outline: none;
    margin: 5% 10% !important;
    cursor: pointer;
}

input {
    background-color: #FFFAFA;
    color: black;
    border-bottom: 1px solid rgb(255, 0, 0);
}

textarea {
    background-color: #FFFAFA;
    color: black;
    border-bottom: 1px solid rgb(255, 0, 0);
    margin: 5% 10% !important;
    height: 30%;
    width: 38%;
    margin: 0;
    margin: 5% 30%;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
}
label {
    background-color: #FFFAFA;
    color: #000000;
    margin: 5% 10% !important;
    margin: 0;
    border: 0;
    margin: 5% 30%;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}